<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TrainingManish_Feedback::feedback" title="Feedback" translate="title" module="TrainingManish_Feedback" sortOrder="40" resource="TrainingManish_Feedback::parent" />
        <add id="TrainingManish_Feedback::custom_feedback" title="Customer Feedback" translate="title" module="TrainingManish_Feedback" sortOrder="10" parent="TrainingManish_Feedback::feedback" action="custom/feedback/" resource="TrainingManish_Feedback::parent" />
    </menu>
</config>